<h1>Welcome to Yelp Demo!</h1>
<h2>This is a sample application that I built using:
	<ul>
		<li>Ruby on Rails</li>
		<li>Bootstrap 3</li>
		<li>PostgreSQL</li>
		<li>jQuery</li>
		<li>SQLite</li>
		<li>Google Maps API</li>
		<li>Git and Github</li>
		<li>Heroku deployment</li>
	</ul>
</h2>