<div class="container-fluid">
<br><br>
<div class="col-md-6 col-md-offset-4">

    <div class="header-store-edit">
<h4>New Business Entry</h4>
</div>

<%= render 'form' %>

</div>
</div>

</div>
<ul class="pager">
<li><%= link_to 'Back', restaurants_path, class: "btn btn-link" %></li>
</ul>