<div class="row">
  <div class="col-md-6">
            <div class="header">
            
            <h4>New Review</h4>
            <h5>Share your experience!</h5></h5>
                
            </div>
              <br>



<%= render 'form' %>


</div>

    <div class="col-md-5">
    
    
    
    <%= image_tag "cocktails.jpg" %>
    
    
    </div>

</div>

<ul class="pager">
<li><%= link_to 'Back', restaurant_path(@restaurant), class: "btn btn-link" %></li>
</ul>

